// @import "../../globals.scss";
@import "..//../_variables.scss";
.headerContainer {
  height: 100vh;
  background: url("/images/header-image.png");
  background-size: cover;
  background-position: center;
  padding: 10px 8%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  box-sizing: border-box;
  @include tablet {
    padding: 10px 0px;
    height: 70vh;
  }
}
.formControl {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 0px;
}
.logoImg {
  @include tablet {
    width: 90px;
    height: 30px;
    margin-left: 0px;
  }
}
.contentContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  @include tablet {
    width: 80%;
  }
}
.heading {
  margin: 0;
  font-size: 3rem;
  font-weight: 700;
  max-width: 100%;
  color: red;
  @include tablet {
    font-size: 1rem;
  }
}
.subheading {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  margin-top: 16px;
  @include tablet {
    font-size: 1rem;
  }
}
.formContainer {
  background: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  overflow: hidden;
}

.emailInput {
  flex: 1;
  border: 0;
  width: 370px;
  outline: 0;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid gray;
  @include tablet {
    width: 340px;
  }
}

.headerRight {
  display: flex;
  align-items: center;
}
.select {
  width: 140px;
  height: 32px;
  border: 1px solid gray;
  outline: 0;
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  @include tablet {
    padding-top: 5px;
    width: 65px;
    height: 32px;
  }
}
.languageText {
  @include tablet {
    display: none;
  }
}
.languageTextLabel {
  @include tablet {
    display: none;
  }
}

@media (max-width: 768px) {
  // .heading {
  //   font-size: 1rem;
  // }
  // .headerContainer {
  //   padding: 10px 0px;
  // }
  // .subheading {
  //   font-size: 1rem;
  // }

  // .logoImg {
  //   width: 90px;
  //   height: 30px;
  //   margin-left: 0px;
  // }
  // .languageText {
  //   display: none;
  // }
  // .select {
  //   padding-top: 5px;
  //   width: 65px;
  //   height: 32px;
  // }
  // .languageTextLabel {
  //   display: none;
  // }
  // .emailInput {
  //   width: 340px;
  // }
  // .contentContainer {
  //   width: 80%;
  // }
  // .headerContainer {
  //   height: 70vh;
  // }
}
