.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f9fc;
}

.registerForm {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 300px;
  gap: 10px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.button {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #ff5a5f;
  cursor: pointer;
}
.info {
  text-align: center;
}
.img {
  width: 250px;
  height: 210px;
  object-fit: cover;
}
.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.error {
  border: 1px solid red;
}
.p {
  font-size: 11px;
  font-weight: 400;
}
.a {
  text-decoration: none;
  font-size: 13px;
}
